#page-content-wrapper {

    width: 85%;
    height: 85%;
    position: absolute;
    left: 12%;
    top: 12%;
    background-color: white;
    padding: 2% 0% 2% 0%;
    
    
}



#aside {
     position: absolute;
    height: 100%;
    width: 10%;
    background-color: darkslategrey;
    
}


/* define a fixed width for the entire menu */

.navigation {
    width: 100%;
}


/* reset our lists to remove bullet points and padding */

.mainmenu,
.submenu {
	position: relative;
    top: 15%;
    list-style: none;
    width: 100%;
}




/* make ALL links (main and submenu) have padding and background color */

.mainmenu a {
    display: block;
    background-color: darkslategrey;
    text-decoration: none;
    padding: 10px;
    color: white;
    width: 100%;
}


/* add hover behaviour */

.mainmenu a:hover {
    background-color: darkslategrey;
    font-size: 150%;
    border-bottom: 2px solid aqua;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
    
    
}


/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
    background-color: darkslategrey;
    
    
}


/* hover behaviour for links inside .submenu */

.submenu a:hover {
    background-color: darkslategrey;
    font-size: 150%;
    border-bottom: 2px solid aqua;
}


/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}

#image-weka {
	    position: fixed;
    left: 2%;
    height: auto;
    width: 5%;
    top: 2%;
}