#header {
	background-color: white;
	height: 10% !important;
	width: 90% !important;
	position: absolute;
	left: 10%;
}

#listaIconos {
	position: inherit;
	top: 10%;
	right: 1%;
}

#listaIconos i {
	color: darkslategrey;
	margin: 0px 20px 0px 0px;
	float: left;
}

#listaIconos i:hover {
	border-bottom: 2px solid aqua;
	
}